Archive/Mbed_DAQ/.build
Archive/Mbed_DAQ/.mbed
Archive/Mbed_DAQ/projectfiles
Archive/Mbed_DAQ/*.py*
Archive/Mbed_DAQ/BUILD

# stm32 on CubeIDE firmware builds
DAQ_System/Debug/

# stm32 on VSCode firmware builds
DAQ_System/build/
DAQ_System/cmake/

# unit test builds
DAQ_System/Tests/build/