[submodule "Project/DAQ_System/Program/DFR_Libraries"]
	path = Project/DAQ_System/Program/DFR_Libraries
  url = https://github.com/DallasFormulaRacing/DAQ-Firmware-Libraries.git
  branch = "feature/CAN_Relay"
